#site-footer.site-footer.closed
  #info.info
    .wrapper
            p(style="font-size:26px;")
              | I am a designer working at the intersection of print, space, and object. I enjoy using design to create joyful moments through explorations in the everyday.
            p(style="font-size:18px;")
              | I combine my training in traditional graphic design with disciplines of personal interest which has expanded my work to include exhibition branding, object design and fabrication, environmental signage and other interdisciplinary projects. I find a varied field of exploration important for the ability to successfully accomplish whatever medium a project may naturally lead. Through research and experimentation, I seek what is essential to develop ways to clearly communicate and interact with our environment.
            p(style="font-size:18px;margin-bottom:1em;")
              i.material-icons(style="font-size:16;vertical-align:text-top;") arrow_forward
              |  Installation and signage design, print design and other interdisciplinary projects
            p(style="font-size:50px;margin-bottom:0px;")
              | C
            .row(style="font-size:18px;")
             .column
              p
               | E  
               i.material-icons(style="font-size:16;vertical-align:text-top;") arrow_forward
               a(style="font-size:18px;" href='mailto:contact@madeleinetoth.com')  contact@madeleinetoth.com
               br
               | P  
               i.material-icons(style="font-size:16;vertical-align:text-top;") arrow_forward
               |  440 864-5316 
             .column
              p
               a(style="font-size:18px;" href='https://www.linkedin.com/in/madeleinetot h/', target='_blank') Linkedin 
               br
               a(style="font-size:18px;" href='http://instagram.com/madeleine_toth', target='_blank') Instagram 
               br
               a(style="font-size:18px;" href='https://www.behance.net/madeleinetoth/', target='_blank') Behance

