#site-footer.site-footer
  #info.info
    .wrapper
            p
             a.scrollLink(id='leaveInfo') X
            p(style="font-size:20px;")
              | I am a designer working at the intersection of print, space, and object. I enjoy using design to create joyful moments through explorations in the everyday.
            p
              | I combine my training in traditional graphic design with disciplines of personal interest which has expanded my work to include exhibition branding, object design and fabrication, environmental signage and other interdisciplinary projects. I find a varied field of exploration important for the ability to successfully accomplish whatever medium a project may naturally lead. Through research and experimentation, I seek what is essential to develop ways to clearly communicate and interact with our environment.
            p(style="font-size:17px;")
              i.material-icons arrow_forward
              |  Installation and signage design, print design and other interdisciplinary projects
            .row
             .column
              p
               | E  
               i.material-icons arrow_forward
               a(href='mailto:contact@madeleinetoth.com') contact@madeleinetoth.com
               br
               | P  
               i.material-icons arrow_forward
               |  440 864-5316 
             .column
              p
               a(href='https://www.linkedin.com/in/madeleinetoth/', target='_blank') Linkedin 
               br
               a(href='http://instagram.com/madeleine_toth', target='_blank') Instagram 
               br
               a(href='https://www.behance.net/madeleinetoth/', target='_blank') Behance

