footer.page-footer
  div.footer-container
    .row
     .column
      p.animate.scroll-transition-fade
        | Getting mail creates joyful moments in the
        | everyday. For inquiries, collaborations,
        | or to simply say hi contact me via email
      div.box(style='font-size: 16px;padding: 0.5rem 0 1rem 0;')
        a.underline.scroll-transition-fade(href='mailto:hello@madeleinetoth.com') hello@madeleinetoth.com
      .row
        .link-col
          div.box
            a.underline.scroll-transition-fade(href='https://www.linkedin.com/in/madeleinetoth/', target='_blank') Linkedin
        .link-col
          div.box
            a.underline.scroll-transition-fade(href='http://instagram.com/madeleine_toth', target='_blank') Instagram
        .link-col
          div.box
            a.underline.scroll-transition-fade(href='https://www.behance.net/madeleine-edwards', target='_blank') Behance
     .column
       p.contact.animate.scroll-transition-fade
         | CONTACT
