<footer class="page-footer">
  <div class="footer-container">
    <div class="desc to-letter">
      DESIGN & ART DIRECTION
    </div>
    <div class="links">
      <span class="box">
        <a class="underline" href="mailto:hello@madeleine.work">EMAIL</a>
      </span>
      <span class="box">
        <a class="underline" href="./">INSTAGRAM</a>
      </span>
      <span class="box">
        <a class="underline" href="./">INSPIRATION</a>
      </span>
      <span class="box">
        <a class="underline" href="./">LINKEDIN</a>
      </span>
    </div>
  </div>
</footer>



<!-- <div class="box contact">
  <a class="underline" href="mailto:hello@madeleine.work">hello@madeleine.work</a>
</div> -->

