#site-footer.site-footer
  #info.info
    .wrapper
      .Grid.Grid--gutters.Grid--cols-3
        .Grid-cell
          .Grid-spacing-info.u-textBig
            p
              | I am a designer working at the intersection of print, space, and object. I enjoy using design to create joyful moments through explorations in the everyday.
        .Grid-cell
          .Grid-spacing-info.u-textSmall
            p
              | I combine my training in traditional graphic design with disciplines of personal interest which has expanded my work to include exhibition branding, object design and fabrication, environmental signage and other interdisciplinary projects. I find a varied field of exploration important for the ability to successfully accomplish whatever medium a project may naturally lead. Through research and experimentation, I seek what is essential to develop ways to clearly communicate and interact with our environment.
        .Grid-cell
          .Grid-spacing-info.u-textSmall
            p
              i.material-icons arrow_forward
              |  Print design, installation design, object design and fabrication, signage, + other interdisciplinary projects.
              br
              br
              |                                       E  
              i.material-icons arrow_forward
              a(href='mailto:contact@madeleinetoth.com') contact@madeleinetoth.com
              br
              |                                         P  
              i.material-icons arrow_forward
              |  440 864-5316 
              br
              br
              a(href='https://www.linkedin.com/in/madeleinetoth/', target='_blank') Linkedin 
              br
              a(href='http://instagram.com/madeleine_toth', target='_blank') Instagram 
              br
              a(href='https://www.behance.net/madeleinetoth/', target='_blank') Behance

