<footer class="page-footer">
  <div class="footer-container">
    <div class="desc">
      Madeleine is an art director and designer based in Charleston, available for collaborations here, there, and everywhere.
    </div>
    <div class="roles">
      <span>ART DIRECTION</span>
      <span>BRAND STRATEGY</span>
      <span>DESIGN</span>
      CONTENT CREATION
    </div>
    <div class="box contact">
      <a class="underline" href="mailto:hello@madeleine.work">hello@madeleine.work</a>
    </div>
  </div>
</footer>

