div.site-footer
  #info.info
        .row
         .column
          p.footer-column 
           | For inquiries, collaborations, or to 
           br
           | simply say hi, please contact me here:
           div.box(style='font-size: 16px')
             a.underline(href='mailto:hello@madeleinetoth.com') hello@madeleinetoth.com
           p.c-style
            | CONTACT
         .column
          p.footer-column 
           div.box
            a.underline(href='https://www.linkedin.com/in/madeleinetoth/', target='_blank') Linkedin
           div.box
            a.underline(href='http://instagram.com/madeleine_toth', target='_blank') Instagram
           div.box
            a.underline(href='https://www.behance.net/madeleinetoth/', target='_blank') Behance
