<footer class="page-footer">
  <div class="footer-container">
    <div class="desc to-letter">
      DESIGN & ART DIRECTION
    </div>
    <div class="links">
      <span class="box">
        <a class="underline" href="mailto:hello@madeleine.work" target="_blank">EMAIL</a>
      </span>
      <span class="box">
        <a class="underline" href="https://www.instagram.com/madeleineedwards__/" target="_blank">INSTAGRAM</a>
      </span>
      <span class="box">
        <a class="underline" href="./" target="_blank">INSPIRATION</a>
      </span>
      <span class="box">
        <a class="underline" href="https://www.linkedin.com/in/madeleineedwards2" target="_blank">LINKEDIN</a>
      </span>
    </div>
  </div>
</footer>



<!-- <div class="box contact">
  <a class="underline" href="mailto:hello@madeleine.work">hello@madeleine.work</a>
</div> -->

