<footer class="page-footer">
  <div class="footer-container">
    <div class="painted">
      DESIGN & <br> 
      ART DIRECTION
    </div>
    <div class="links">
      <span class="box">
        <a class="underline" href="mailto:hello@madeleine.work" target="_blank">GET IN TOUCH</a>
      </span>
      <span class="box">
        <a class="underline" href="https://www.instagram.com/madeleineedwards__/" target="_blank">INSTAGRAM</a>
      </span>
      <span class="box">
        <a class="underline" href="/archive">ARCHIVE</a>
      </span>
    </div>
  </div>
</footer>



<!-- <div class="box contact">
  <a class="underline" href="mailto:hello@madeleine.work">hello@madeleine.work</a>
</div> -->

