div.site-footer
  #info.info
        hr
        .row
         .column
          p.c-style
           | C
          br
         .column
          p.footer-column 
           | For inquiries, collaborations, or to 
           br
           | simply say hi, please contact me here:
           br
           br
           | E  
           i.material-icons
            | arrow_forward &nbsp; 
           a(href='mailto:hello@madeleinetoth.com') hello@madeleinetoth.com
         .column
          p.footer-column 
           a(href='https://www.linkedin.com/in/madeleinetoth/', target='_blank') Linkedin
           br
           a(href='http://instagram.com/madeleine_toth', target='_blank') Instagram
           br
           a(href='https://www.behance.net/madeleinetoth/', target='_blank') Behance

