<title>Madeleine Edwards</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta id="project_list_date" data-offset="0"/>
<meta property="og:title" content="Madeleine Edwards"/>
<meta property="og:description" content="Versatile graphic designer working at the intersection of print, space, and object.Keen on using design to create joyful moments through explorations in the everyday."/>
<meta property="og:image" content=""/>
<meta property="og:url" content="http://madeleine.work"/>

<link href="/images/Favicon.svg", rel="shortcut icon"/>
<link rel="stylesheet" href="/stylesheets/reset.css"/>
<link rel='stylesheet' href='/stylesheets/common.css'/>
<link rel="stylesheet" href="/stylesheets/style.css"/>
<link rel="stylesheet" href="/stylesheets/pagefooter.css"/>
<link rel="stylesheet" href="/stylesheets/footerlinks.css"/>
<link rel="stylesheet" href="/stylesheets/thumbnails.css"/> 
<link rel="stylesheet", href="https://use.typekit.net/sfb3xlp.css"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel='stylesheet'/>

<script src="//code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/scripts/custom.js"></script>
