div.whitebar
 header.site-header
  a(href='www.madeleinetoth.com')
    .logo Madeleine Toth
  
  if menuContent != null
    nav
      ul
       li
        a(href="./#thumbnails") Work
       li
        a(href='#site-footer') Info
        each menuLink in menuContent.data.menu_links
          li
            a(href=PrismicDOM.Link.url(menuLink.link, ctx.linkResolver))
              != PrismicDOM.RichText.asText(menuLink.label)