div.whitebar(style="background-color:#4a9885")
 header.site-header
   // Centered link
   .topnav-centered
     span.box
      a.underline.logo(href='./')
        .logo Madeleine Toth Edwards
   nav
     // Left-aligned links (default)
     div.box(style="height: 0px;")
      a.underline.scroll-work(href='#') WORK
     // Right-aligned links
     .topnav-right
      div.box
        a.underline.scroll-info(href='#') INFO
