//- Add the class that defines the number of columns
if ( slice.slice_label )
  - var sectionClass = "text-section-" + slice.slice_label
else 
  - var sectionClass = "text-section-1col"

section.home-content-section.text-content(class=sectionClass)
  //- i.material-icons arrow_forward
  != PrismicDOM.RichText.asHtml(slice.primary.text, ctx.linkResolver)