<div class="whitebar" style="background-color:#7A8117">
  <header class="site-header">
    <!-- Centered link-->
    <div class="topnav-centered">
      <span class="box">
        <a class="underline logo" href="./">
          <div class="logo add-pt">Madeleine Edwards</div>
        </a>
      </span>
    </div>
    <nav style="background-color: #7A8117;">
      <!-- Left-aligned links (default)-->
      <div class="box" style="height: 0px;">
        <!-- <a class="underline scroll-work" href="#">WORK</a> -->
      </div>
      <!-- Right-aligned links-->
      <div class="topnav-right">
        <div class="box">
          <a class="underline scroll-info" href="#">WORK</a>
        </div>
        <div class="box">
          <a class="underline scroll-info" href="#">RISETTE</a>
        </div>
        <div class="box">
          <a class="underline scroll-info" href="#">CONTACT</a>
        </div>
      </div>
    </nav>
  </header>
</div>