div.container
  div.home-content-section(class=sectionClass)
    h2
      letter G
      letter r
      letter a
      letter p
      letter h
      letter i
      letter c
      letter  D
      letter e
      letter s
      letter i
      letter g
      letter n
      letter e
      letter r
      letter  l
      letter i
      letter v
      letter i
      letter n
      letter g
      letter  i
      letter n
      letter  t
      letter h
      letter e
      letter  M
      letter i
      letter d
      letter w
      letter e
      letter s
      letter t
      letter  w
      letter o
      letter r
      letter k
      letter i
      letter n
      letter g
      letter  a
      letter t
      letter  t
      letter h
      letter e
      letter  i
      letter n
      letter t
      letter e
      letter r
      letter s
      letter e
      letter c
      letter t
      letter i
      letter o
      letter n
      letter  o
      letter f
      letter  p
      letter r
      letter i
      letter n
      letter t,
      letter  s
      letter p
      letter a
      letter c
      letter e,
      letter  a
      letter n
      letter d
      letter  o
      letter b
      letter j
      letter e
      letter c
      letter t.
      letter  K
      letter e
      letter e
      letter n
      letter  o
      letter n
      letter  u
      letter s
      letter i
      letter n
      letter g
      letter  d
      letter e
      letter s
      letter i
      letter g
      letter n
      letter  t
      letter o
      letter  c
      letter r
      letter e
      letter a
      letter t
      letter e
      letter  j
      letter o
      letter y
      letter f
      letter u
      letter l
      letter  m
      letter o
      letter m
      letter e
      letter n
      letter t
      letter s
      letter  t
      letter h
      letter r
      letter o
      letter u
      letter g
      letter h
      letter  e
      letter x
      letter p
      letter l
      letter o
      letter r
      letter a
      letter t
      letter i
      letter o
      letter n
      letter s
      letter  i
      letter n
      letter  t
      letter h
      letter e
      letter  e
      letter v
      letter e
      letter r
      letter y 
      letter d
      letter a
      letter y.

//- a.thumb.graphic(target='new')
//-   | Graphic Design Theory:
