<% 
var workClass;
if (id == 'home') {
  workClass = 'scroll-work';
} else {
  workClass = 'to-work';
}
%>
  <header class="site-header">
    <!-- Centered link-->
    <div class="logo-container">
      <a href="./">
        <div class="logo"><%- include("../../public/images/logos/MadeleineEdwards_Logo_Black-01.svg") %></div>
      </a>
    </div>
    <nav>
      <!-- Left-aligned links (default)-->
      <div class="box" style="height: 0px;">
        <!-- <a class="underline scroll-work" href="#">CO-FOUNDER & CREATIVE DIRECTOR AT <strong>DRAPERIE</strong></a> -->
      </div>
      <!-- Right-aligned links-->
      <div class="topnav-right">
        <div class="box mobile">
          <div style="width: 110px;"><%- include("../../public/images/logos/MadeleineEdwards_Monogram_Cream-04.svg") %></div>
        </div>
        <div class="box">
          <a class="underline <%- workClass %>" style="margin-top: 4rem;" href="#thumbnails">WORK</a>
        </div>
        <div class="box">
          <a class="underline" href="/services">SERVICES</a>
        </div>
        <div class="box">
          <a class="underline" href="#" target="_blank">RISETTE</a>
        </div>
        <div class="box">
          <a class="underline" href="mailto:hello@madeleine.work" target="_blank">CONTACT</a>
        </div>
        <div class="box mobile">
          <a class="underline" href="https://www.instagram.com/madeleineedwards__/" target="_blank">INSTAGRAM</a>
        </div>
        <div class="box mobile">
          <a class="underline" href="#" target="_blank">INSPIRATION</a>
        </div>
        <div class="box mobile">
          <a class="underline" href="https://www.linkedin.com/in/madeleineedwards2" target="_blank">LINKEDIN</a>
        </div>
        <div class="mobile draperie">
          CO-FOUNDER & CREATIVE </br> DIRECTOR AT <strong>DRAPERIE</strong>
        </div>
      </div>
    </nav>
    <div class="menu">
      <div class="icon-left"></div>
      <div class="icon-right"></div>
    </div>
  </header>
</div>

