  <header class="site-header">
    <!-- Centered link-->
    <div class="logo-container">
      <a href="./">
        <div class="logo"><%- include("../../public/images/logos/MadeleineEdwards_Logo_Black-01.svg") %></div>
      </a>
    </div>
    <nav>
      <!-- Left-aligned links (default)-->
      <div class="box" style="height: 0px;">
        <!-- <a class="underline scroll-work" href="#">CO-FOUNDER & CREATIVE DIRECTOR AT <strong>DRAPERIE</strong></a> -->
      </div>
      <!-- Right-aligned links-->
      <div class="topnav-right">
        <div class="box mobile">
          <div style="width: 100px;"><%- include("../../public/images/logos/MadeleineEdwards_Monogram_Cream-04.svg") %></div>
        </div>
        <div class="box">
          <a class="underline scroll-work" href="#">WORK</a>
        </div>
        <div class="box">
          <a class="underline" href="/services">SERVICES</a>
        </div>
        <div class="box">
          <a class="underline" href="#">RISETTE</a>
        </div>
        <div class="box">
          <a class="underline" href="mailto:hello@madeleine.work">CONTACT</a>
        </div>
        <div class="box mobile">
          <a class="underline" href="#" >INSTAGRAM</a>
        </div>
        <div class="box mobile">
          <a class="underline" href="#">INSPIRATION</a>
        </div>
        <div class="box mobile">
          <a class="underline" href="#">LINKEDIN</a>
        </div>
      </div>
    </nav>
    <div class="menu">
      <div class="icon-left"></div>
      <div class="icon-right"></div>
    </div>
  </header>
</div>

