div.thumbnail
 a(href=PrismicDOM.Link.url(slice.primary.link, ctx.linkResolver))
  div.thumb_image(style="background-image: url("+slice.primary.hover_image.url+")")
   img(name='image-link', src=slice.primary.image.url)