        <div class="thumbnail blank">
        </div>
        <div class="thumbnail" style="background-image: url('<%- slice.primary.image.url %>')" >
            <a class="thumbnail-link" href="<%- ctx.prismicH.asLink(slice.primary.link) %>">
                <div class="title-container" title="<%- ctx.prismicH.asHTML(slice.primary.thumbnail_title).toUpperCase() %>"></div>
            </a>
        </div>
    </div>
</div>
