<div class="row-container">
  <div class="tn-row">
      <div class="thumbnail" style="background-image: url('<%- slice.primary.image.url %>');">
          <a class="thumbnail-link" href="<%- ctx.prismicH.asLink(slice.primary.link) %>">
              <img name="image-link" src="<%- slice.primary.image.url %>" title="<%- ctx.prismicH.asText(slice.primary.thumbnail_title) %>"></img>
          </a>
      </div>