        <div class="thumbnail blank">
        </div>
        <div class="thumbnail">
            <a class="thumbnail-link" href="<%- ctx.prismicH.asLink(slice.primary.link) %>">
                <div class="thumbail-img" name="image-link" style="background-image: url('<%- slice.primary.image.url %>')"  title="<%- ctx.prismicH.asHTML(slice.primary.thumbnail_title).toUpperCase() %>"></div>
            </a>
        </div>
    </div>
</div>
