<section class="two-col-row">
  <div class="two-col leftImg">
    <img src="<%= slice.primary.left_image.url %>"  />
  </div>
  <div class="two-col rightImg">
    <img src="<%= slice.primary.right_image.url %>" />
  </div>
</section>
