<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body class="container">
    <!-- Content Section -->
    <div class="page">
      <h1 class="archive-title"><%- ctx.prismicH.asText(pageContent.data.page_title) %></h1>
      <div class="archive-desc"><%- ctx.prismicH.asText(pageContent.data.page_desc) %></div>
      <div class="archive-row">
      </div>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>


