extends ./layout.pug

block prepend body
  body(data-wio-id=pageContent.id)

    include ./partials/header.pug

    // Content Section
    div.page(style='padding-top:140px;')
     div.archive-row
       //- Display the slices
       for slice in pageContent.data.body
         case slice.slice_type
           when 'archive_column'
             div.archive-column
               each richTextItem in slice.items
                 != PrismicDOM.RichText.asHtml(richTextItem.left_column, ctx.linkResolver)
             div.archive-column
               each richTextItem in slice.items
                 != PrismicDOM.RichText.asHtml(richTextItem.middle_column, ctx.linkResolver)
             div.archive-column
               each richTextItem in slice.items
                 != PrismicDOM.RichText.asHtml(richTextItem.right_column, ctx.linkResolver)
  include ./partials/footer.pug


  //- div.archive-column
  //-   each richTextItem in slice.items
  //-    div.center
  //-     div.loader
  //-       div.circle
  //-       div.circle
  //-       div.circle
  //-     != PrismicDOM.RichText.asHtml(richTextItem.left_column, ctx.linkResolver)
  //- div.archive-column
  //-   each richTextItem in slice.items
  //-    div.center
  //-     div.loader
  //-       div.circle
  //-       div.circle
  //-       div.circle
  //-     != PrismicDOM.RichText.asHtml(richTextItem.middle_column, ctx.linkResolver)
  //- div.archive-column
  //-   each richTextItem in slice.items
  //-    div.center
  //-     div.loader
  //-      div.circle
  //-      div.circle
  //-      div.circle
  //-     != PrismicDOM.RichText.asHtml(richTextItem.right_column, ctx.linkResolver)
