extends ./layout.pug

block prepend body
  body(data-wio-id=pageContent.id)

    include ./partials/header.pug
    button(class="scrollToTopBtn")

    // Content Section
    div.page
     h1.archive-title
      != PrismicDOM.RichText.asText(pageContent.data.page_title)
     div.archive-desc
      != PrismicDOM.RichText.asText(pageContent.data.page_desc)
     div.archive-row
       //- Display the slices
       for slice in pageContent.data.body
         case slice.slice_type
           when 'archive_column'
             div.archive-column
               each richTextItem in slice.items
                 != PrismicDOM.RichText.asHtml(richTextItem.left_column, ctx.linkResolver)
             div.archive-column
               each richTextItem in slice.items
                 != PrismicDOM.RichText.asHtml(richTextItem.middle_column, ctx.linkResolver)
             div.archive-column
               each richTextItem in slice.items
                 != PrismicDOM.RichText.asHtml(richTextItem.right_column, ctx.linkResolver)
  include ./partials/footer.pug
