extends ./layout.pug

block prepend body
  body.homepage(data-wio-id=pageContent.id)
    
    include ./partials/header-home.pug
    
    // Content Section
    div
     for slice in pageContent.data.page_content
        case slice.slice_type
          when 'text'
            include ./partials/home-text-section.pug  
     div.thumbnails(id="thumbnails")
      //- Display the slices
      for slice in pageContent.data.page_content
        case slice.slice_type
          when 'thumbnail'
            include ./partials/thumbnail.pug 
     #site-footer.home.site-footer
       #info.info
           p.footer-p
            | Madeleine combines her training in traditional graphic design with disciplines of personal interest which expanded her work to include exhibition branding, object design and fabrication, environmental signage and other interdisciplinary projects. She finds a varied field of exploration important for the ability to successfully accomplish whatever medium a project may naturally lead. Through research and experimentation, she seeks what is essential to develop ways to clearly communicate and interact with our environment. 
            br
            br
            | Currently working on a typeface based on a trip to Europe and (Aa) stool. She is also balancing reading The Goldfinch by Donna Tartt and Graphic Design Theory: Readings from the Field edited by Helen Armstrong. 
     include ./partials/footer.pug
