extends ./layout.pug
block prepend body
  div.maintenance
    div
      span.cs-title
        | COMING SOON... 
      br
      div.box
        a.underline(href="mailto:hello@madeleine.work")
          | HELLO@MADELEINE.WORK