extends ./layout.pug
block prepend body
  div.maintenance
    div
      span.cs-title
        | COMING SOON... 
      br
      a.cs-contact(href="mailto:hello@madeleine.work")
        | CONTACT:HELLO@MADELEINE.WORK