extends ./layout.pug

block prepend body
  body.homepage(data-wio-id=pageContent.id)
    
    include ./partials/header-home.pug
    
    // Content Section
    div
     for slice in pageContent.data.page_content
        case slice.slice_type
          when 'main_text'
            div.container
              div.home-content-section(class=sectionClass)
                h2.to-letter
                  != PrismicDOM.RichText.asText(slice.primary.text, ctx.linkResolver)
     div.thumbnails(id="thumbnails")
      //- Display the slices
      for slice in pageContent.data.page_content
        case slice.slice_type
          when 'thumbnail'
            include ./partials/thumbnail.pug 
     #site-footer.home.site-footer
       #info.info.footer-p
         for slice in pageContent.data.page_content
            case slice.slice_type
              when 'footer_text'
                != PrismicDOM.RichText.asHtml(slice.primary.text, ctx.linkResolver)
     include ./partials/footer.pug
