extends ./layout.pug

block prepend body
  body.homepage(data-wio-id=pageContent.id)
    
    include ./partials/header-home.pug
    
    // Content Section
    div.container
     for slice in pageContent.data.page_content
        case slice.slice_type
          when 'text'
            include ./partials/home-text-section.pug  
     div.thumbails.clear(id="thumbnails")
      //- Display the slices
      for slice in pageContent.data.page_content
        case slice.slice_type
          when 'thumbnail'
            include ./partials/thumbnail.pug 
     #site-footer.site-footer(style="padding-top:55px;")
       #info.info
         .wrapper
           p.footer-p1
            letter I 
            letter  a
            letter m
            letter  a
            letter  d
            letter e
            letter s
            letter i
            letter g
            letter n
            letter e
            letter r
            letter  w
            letter o
            letter r
            letter k
            letter i
            letter n
            letter g
            letter  a
            letter t
            letter  t
            letter h
            letter e
            letter  i
            letter n
            letter t
            letter e
            letter r
            letter s
            letter e
            letter c
            letter t
            letter i
            letter o
            letter n
            letter  o
            letter f
            letter  p
            letter r
            letter i
            letter n
            letter t,
            letter  s
            letter p
            letter a
            letter c
            letter e,
            letter  a
            letter n
            letter d
            letter  o
            letter b
            letter j
            letter e
            letter c
            letter t.
            letter  I
            letter  e
            letter n
            letter j
            letter o
            letter y
            letter  u
            letter s
            letter i
            letter n
            letter g
            letter  d
            letter e
            letter s
            letter i
            letter g
            letter n
            letter  t
            letter o
            letter  c
            letter r
            letter e
            letter a
            letter t
            letter e
            letter  j
            letter o
            letter y
            letter f
            letter u
            letter l 
            letter  m
            letter o
            letter m
            letter e
            letter n
            letter t
            letter s
            letter  t
            letter h
            letter r
            letter o
            letter u
            letter g
            letter h
            letter  e
            letter x
            letter p
            letter l
            letter o
            letter r
            letter a
            letter t
            letter i
            letter o
            letter n
            letter s
            letter  i
            letter n
            letter  t
            letter h
            letter e
            letter  e
            letter v
            letter e
            letter r
            letter y
            letter d
            letter a
            letter y.
           p.footer-p2
            | I combine my training in traditional graphic design with disciplines of personal interest which has expanded my work to include exhibition branding, object design and fabrication, environmental signage and other interdisciplinary projects. I find a varied field of exploration important for the ability to successfully accomplish whatever medium a project may naturally lead. Through research and experimentation, I seek what is essential to develop ways to clearly communicate and interact with our environment.
     include ./partials/footer.pug



