extends ./layout.pug

block prepend body
  body.homepage(data-wio-id=pageContent.id)
    
    include ./partials/header.pug
    
    // Content Section
    div.container
    
     div.thumbails.clear

      //- Display the slices
      for slice in pageContent.data.page_content
        case slice.slice_type
          when 'full_width_image'
            include ./partials/thumbnail.pug



