extends ./layout.pug

block prepend body
  body.homepage(data-wio-id=pageContent.id)
    
    include ./partials/header-home.pug
    
    // Content Section
    div
     for slice in pageContent.data.page_content
        case slice.slice_type
          when 'main_text'
            include ./partials/home-text-section.pug  
     div.thumbnails(id="thumbnails")
      //- Display the slices
      for slice in pageContent.data.page_content
        case slice.slice_type
          when 'thumbnail'
            include ./partials/thumbnail.pug 
     #site-footer.home.site-footer
       #info.info
           p.footer-p
            | I am a graphic designer living in the Midwest interested in creating visual solutions for the everyday. I combine my training in traditional graphic design across multiple disciplines which has expanded my work to include object design, fabrication, environmental signage, and other interdisciplinary projects. I find a varied field of exploration indispensable for the ability to execute a project to any medium it may naturally lead. Through research and experimentation, I seek what is essential to create a holistic approach to clearly communicate and interact with our environment. 
            br
            br
            | Currently working on a typeface based on a trip to Europe and (Aa) stool. Also balancing reading The Goldfinch by Donna Tartt and Graphic Design Theory: Readings from the Field edited by Helen Armstrong. 
     include ./partials/footer.pug
