extends ./layout.pug

block prepend body
  body.homepage(data-wio-id=pageContent.id)
    
    include ./partials/header-home.pug
    
    // Content Section
    div
     for slice in pageContent.data.page_content
        case slice.slice_type
          when 'main_text'
            div.container
              div.home-content-section(class=sectionClass)
                h2.to-letter
                  != PrismicDOM.RichText.asHtml(slice.primary.text, ctx.linkResolver)
     div.thumbnails(id="thumbnails")
      //- Display the slices
      for slice in pageContent.data.page_content
        case slice.slice_type
          when 'thumbnail'
            include ./partials/thumbnail.pug 
    #site-footer.home
      div.home-row
        div.home-column
         for slice in pageContent.data.page_content
            case slice.slice_type
              when 'footer_text'
                  p.to-letter
                    != PrismicDOM.RichText.asText(slice.primary.text, ctx.linkResolver)
        div.home-column
          div.site-footer.home-row
            #info
              p.child.c-home
               | C
              p.child
               | For inquiries, collaborations, or to simply say hi, please contact me here:
               br
               br
               | E  
               i.material-icons
                | arrow_forward &nbsp; 
               a(href='mailto:hello@madeleinetoth.com') hello@madeleinetoth.com
              p.child
               a.animated-arrow(href='https://www.linkedin.com/in/madeleinetoth/', target='_blank')
                span.the-arrow.-left
                  span.shaft
                span.main
                  span.text
                    | Linkedin
                  span.the-arrow.-right
                    span.shaft
               br
               a.animated-arrow(href='http://instagram.com/madeleine_toth', target='_blank')
                span.the-arrow.-left
                  span.shaft
                span.main
                  span.text
                    | Instagram
                  span.the-arrow.-right
                    span.shaft
               br
               a.animated-arrow(href='https://www.behance.net/madeleinetoth/', target='_blank')
                span.the-arrow.-left
                  span.shaft
                span.main
                  span.text
                    | Behance
                  span.the-arrow.-right
                    span.shaft
