extends ./layout.pug

block prepend body
  body.homepage(data-wio-id=pageContent.id)
    
    include ./partials/header-home.pug
    button(class="scrollToTopBtn")
      img(src="/images/Scroll-2-Top.png")
    
    // Content Section
    div
     div.container(id="container")
      div.home-content-section
        h2.to-letter
          != PrismicDOM.RichText.asHtml(pageContent.data.main_text)
      canvas(id="canvas" style="position: absolute;")
     div.thumbnails(id="work")
      //- Display the slices
      for slice in pageContent.data.page_content
        case slice.slice_type
          when 'thumbnail'
            include ./partials/thumbnail.pug 
    footer.home-footer(id="info")
      .info-container
        .info-main
          p.to-letter.scroll-transition-fade
            != PrismicDOM.RichText.asText(pageContent.data.info_main_text)
        div.home-row
          div.home-column
            p.to-letter.scroll-transition-fade
              span.title
                != PrismicDOM.RichText.asText(pageContent.data.info_column_title)
              != PrismicDOM.RichText.asText(pageContent.data.info_column_text)
          div.home-column
            div.site-footer.home-row
              #info
                p.child.c-home.scroll-transition-fade
                 | CONTACT
                br
                div.child.scroll-transition-fade
                 | For inquiries, collaborations, or to simply say hi, please contact me here:
                 br
                 br
                 a.animated-arrow(href='mailto:hello@madeleine.work ', target='_blank')
                  span.the-arrow.-left
                    span.shaft
                  span.main
                    span.text
                      | hello@madeleine.work 
                    //- span.the-arrow.-right
                    //-   span.shaft
                br
                div.child
                 a.animated-arrow.scroll-transition-fade(href='www.linkedin.com/in/madeleine-edwards1', target='_blank')
                  span.the-arrow.-left
                    span.shaft
                  span.main
                    span.text
                      | Linkedin
                    //- span.the-arrow.-right
                    //-   span.shaft
                 br
                 a.animated-arrow.scroll-transition-fade(href='http://instagram.com/madeleine_toth', target='_blank')
                  span.the-arrow.-left
                    span.shaft
                  span.main
                    span.text
                      | Instagram
                    //- span.the-arrow.-right
                    //-   span.shaft
                 br
                 a.animated-arrow.scroll-transition-fade(href='https://www.behance.net/madeleine-edwards', target='_blank')
                  span.the-arrow.-left
                    span.shaft
                  span.main
                    span.text
                      | Behance
                    //- span.the-arrow.-right
                    //-   span.shaft
