doctype html(lang='en')

head
  title Madeleine Toth → Graphic Designer
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(id="project_list_data" data-offset="0")
  link(href="https://favicon.cargocollective.com/603602-1530726908.ico", rel="shortcut icon")
  link(rel="stylesheet", href="/stylesheets/reset.css")
  link(rel='stylesheet', href='/stylesheets/common.css')
  link(rel="stylesheet", href="/stylesheets/style.css")
  link(rel="stylesheet", href="https://use.typekit.net/sfb3xlp.css")
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel='stylesheet')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  //Google Analytics//
  script(async src='https://www.googletagmanager.com/gtag/js?id=UA-135736418-1')
  script(src='/scripts/custom.js')
  
body
  block body
