doctype html(lang='en')

head
  title Madeleine Toth → Graphic Designer
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(id="project_list_data" data-offset="0")
  link(href="https://favicon.cargocollective.com/603602-1530726908.ico", rel="shortcut icon")
  link(rel="stylesheet", href="/stylesheets/reset.css")
  link(rel='stylesheet', href='/stylesheets/common.css')
  link(rel="stylesheet", href="/stylesheets/style.css")
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel='stylesheet')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  //Google Analytics//
  script(async src='https://www.googletagmanager.com/gtag/js?id=UA-135736418-1')
  script(type='text/javascript').
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());
   gtag('config', 'UA-135736418-1');
  script(type='text/javascript').
   $(function() {
    $('a').each(function() {
     if ($(this).attr('id') == 'info') {
      this.setAttribute("onclick","document.getElementById('site-footer').classList.toggle('closed');ga('send', 'event', '"+$(this).attr("href")+"', 'Click', '"+$(this).text()+"');")
     }
     else {
      this.setAttribute("onclick","ga('send', 'event', '"+$(this).attr("href")+"', 'Click', '"+$(this).text()+"');")
     }
    });
   });
  //End Google Analytics//
  script(type='text/javascript').
   /*page fade-in and fade-out*/
   $(document).ready(function() {
    $('body').css('display','none');
    $('body').fadeIn(500);
   });
   $(document).on("click", "a", function () {
    var newUrl = $(this).attr("href");
    if (!newUrl || newUrl[0] === "#") {
     location.hash = newUrl;
     return;
    }
    $("html").fadeOut(function () {
     location = newUrl;
    });
    return false;
   });
   /*info section animation*/
   $(function(){
    $('#info').click(function() {
     if(!$('#site-footer').hasClass('closed')) {
      $('#site-footer').animate({'top': '67px'}, 1000);
      $(this).delay(1000)
            .queue(function () {
             $(this).addClass('material-icons').text('arrow_downward');
             $(this).dequeue();
            });
      $('.whitebar').delay(1000)
                    .queue(function() {
                     $(this).addClass("scroll");
                     $(this).dequeue();
                    });
     }
     else {
      $(this).removeClass('material-icons').text('Info');
      $('#site-footer').animate({'top': '1500px'}, 1000)
      $('.whitebar').removeClass("scroll");
     }
    });
   });
body
  block body