extends ./layout.pug

block prepend body 
  body(data-wio-id=pageContent.id)

  include ./partials/header.pug

  // Content Section
  - var project = pageContent.data.project_info[0]
   div.project(style="display: block;")
    section.content-section(class=sectionClass)
       //- Display the slices
       for slice in pageContent.data.page_content
         case slice.slice_type
           when 'full_width_image'
             include ./partials/full-width-image.pug
           when 'two_column_image'
             include ./partials/two_column_image.pug
           when 'text-section'
             include ./partials/text-section.pug
           when 'video'
             include ./partials/video.pug
       h3
          != PrismicDOM.RichText.asText(project.client)
       h3
          != PrismicDOM.RichText.asText(project.collab)
       h3
          != PrismicDOM.RichText.asText(project.type) + " "
          i.material-icons arrow_forward 
          != PrismicDOM.RichText.asText(project.year)
  include ./partials/footer.pug
