<%- 
SliceZone.reduce((prevSlices, slice, index) => {
  if (slice.slice_type === 'thumbnail') {
    if (index == 0 || index % 3 == 0) {
      return prevSlices + include('./slices/thumbnail-1.ejs', { slice: slice })
    } else if ((index - 1) % 3 == 0) {
      return prevSlices + include('./slices/thumbnail-2.ejs', { slice: slice })
    } else {
      return prevSlices + include('./slices/thumbnail-3.ejs', { slice: slice })
    }
  } else if (slice.slice_type === 'full_width_image') {
    return prevSlices + include('./slices/full-width-img.ejs', { slice: slice })
  } else if (slice.slice_type === 'two_column_image') {
    return prevSlices + include('./slices/two-col-img.ejs', { slice: slice })
  } else if (slice.slice_type === 'video') {
    return prevSlices + include('./slices/video.ejs', { slice: slice })
  } else if (slice.slice_type === 'text-section') {
    return prevSlices + include('./slices/text-section.ejs', { slice: slice })
  } else if (slice.slice_type === 'archive_col') {
    return include('./slices/archive-col.ejs', { slice: slice })
  } else if (slice.slice_type === 'project_info') {
    return prevSlices + include('./slices/project-info.ejs', { slice: slice })
  } else {
    return prevSlices + '<h1>Slice type "'+slice.slice_type+'" not found</h1>';
  } 
}, '') %>
