* {
  -webkit-font-smoothing: antialiased;
}
::selection {
  background: #FFF7C7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #FFF7C7; /* Gecko Browsers */
}

/*
 * Globals
 */
body {
    background:white;
	color: #000000;
	font-family: 'Lato', sans-serif;/*'NeuzeitSLTStd-Book' , sans-serif;*/
	line-height: 1.6;
    min-height: 100vh;
    opacity: 1;
    
	-webkit-font-smoothing: antialiased;

	-webkit-transition: background 1s ease;
	-moz-transition: background 500ms ease;
	transition: background 500ms ease;
}
a {
  color: #72767B;
  font-size: 14px;
  font-weight: 400;
  letter-spacing : 0.35;
  line-height: 28px;
  text-decoration: none;
}
p a {
  text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'NeuzeitSLTStd-Book' , sans-serif;
}
h1 {
  font-size: 42px; 
  font-weight: normal; 
  color: #484D52; 
  line-height: 52px; 
  letter-spacing : 1.14;
  margin-bottom: 1rem;
}
h2, h2 a {
  margin-bottom: 1rem;
  color: rgb(128, 128, 128);
  font-size: 32px;
  font-weight: normal;
  letter-spacing : 0.85;
  line-height: 42px;
 
}
h3, h3 a {
  margin-bottom: 1rem;
  Color: #484d52;
  font-size: 20px;
  font-weight: 400;
  letter-spacing : 0.52;
  line-height: 34px;
}
p {
  margin-bottom: 2rem;
}
pre, ul {
  margin-bottom: 20px;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
img {
  max-width: 100%;
}