/*General*/
.thumbnails, .clear, header {
  margin: auto;
}
/*End General*/

/* Header */
.whitebar {
	background: white;
    position: fixed;
    left: 0;
    right: 0;
    height:67px;
    z-index: 100;
}
.site-header {
  height: 30px;
  padding: 20px 50px;
}
.site-header,
.site-header a {
  color: black;
  letter-spacing: 1.0px;
  font-size: calc(14px + 14.361*(100vw - 576px)/864);
}
.site-header a:hover {
  color: #00b7a0;
  font-family: Georgia;
}
.site-header .logo {
  display: inline-block;
}
.site-header nav {
  float: right;
}
.site-header nav ul {
  margin: 0;
}
.site-header nav li {
  display: inline-block;
  margin-left: 40px;
}
/*End Header*/

/*Body*/

/*General*/
.full-width-image {
    margin-bottom: 10%;
}
letter {
  transition: color .3s linear, text-shadow .3s linear;
}
.painted {
  color: #00b7a0;
  font-family: Georgia, serif;
}
.text-content{
  text-align: left;
  margin-bottom: 5em;
}
/*End General*/

/*Home page*/
.container {
  height: 100vh;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center;
}
.home-content-section {
  padding: 67px 17% 0;
}
#thumbwrap {
  position:relative;
  margin:relative;
}
a.thumb {
  padding-bottom: 0.1em;
  border-bottom: 0.01em solid black;
  text-decoration: none;
}
a.typeface:hover {
  border-bottom: 0.01em solid rgba(0, 0, 0, 0);
  cursor: url("../images/info-typeface-cursor.png"), auto;
}
a.aastool:hover {
  border-bottom: 0.01em solid rgba(0, 0, 0, 0);
  cursor: url("../images/info-Aastool-cursor.png"), auto;
}
a.food:hover {
  border-bottom: 0.01em solid rgba(0, 0, 0, 0);
  cursor: url("../images/info-FoodRules-cursor.png"), auto;
}
a.graphic:hover {
  border-bottom: 0.01em solid rgba(0, 0, 0, 0);
  cursor: url("../images/info-GDTheory-cursor.png"), auto;
}
.thumbnails {
  z-index: -1;
  background-color: white;
  padding: 1rem 2rem 0 2rem;
  margin: 0 auto;
}
.thumbnail {
  text-align: left;
  margin-bottom: 40px;
  font-size: 16px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  padding: 10px 10px 0 10px;
}
.thumbnail img {
  border: 0;
  display: block;
  margin: 0 auto;
  transition: .5s ease;
}
.thumbnail:nth-child(even) {
  float: right;
}
.thumbnail:nth-child(odd) {
  float: left;
}
.thumbnail-title {
  font-size: calc(10px + 14.361*(100vw - 576px)/864);
  padding: 0.5rem 0 0;
  opacity: 0;
  -webkit-transition: opacity 150ms ease;
  -o-transition: opacity 150ms ease;
  transition: opacity 150ms ease;
}
.thumbnail-link:hover + .thumbnail-title {
  opacity: 1;
}
.thumbnail-title:after {
    content: " \2192 ";
    color: #333;
}
/*End Home page*/

/*Project page*/
.project {
  min-height: 100%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: white;
  background-size: contain;
  margin: auto;
}
.content-section {
  margin-bottom: 3.75rem;
  padding-top: 100px;
}
/*End Project page*/

/*End Body*/

/* Footer */
.site-footer {
  width: 100%;
  overflow-y:hidden;
  z-index: 10;
}
.site-footer a {
  color: black;
  text-decoration: none;
  font-size: calc(10px + 14.361*(100vw - 576px)/864);;
}
.site-footer a:hover {
  color: #00b7a0;
  font-family: Georgia;
}
.info {
  padding: 0 2rem 0px 2rem;
  width: 100%;
  color: black;
  margin: 50px 0px;
}
hr {
  border-bottom: 1px solid black;
  color: black;
}
.row {
  padding-top: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
}
.column:nth-child(1) {
  width: 35%;
}
.column:nth-child(2) {
  width: 50%;
}
.column:nth-child(3){
  width: 1%;
}
.column i {
  font-size:2.5vmin;
  vertical-align:text-top;
}
.c-style {
  font-size:calc(35px + 14.361*(100vw - 576px)/864);
  margin-bottom:0px;
  font-weight:bold;
}
.footer-column {
  font-size: calc(10px + 14.361*(100vw - 576px)/864);
}
.footer-p {
 text-align: justify;
}
/*footer text for home page only*/
.home {
  padding-top: 100px;
}
/*End Footer*/

/* Media Queries */
@media (min-width: 1500px) {
  .whitebar {
    height: 120px;
    padding-top: 20px;
  }
}
@media (min-width: 1365px) {
  .thumbnails {
    padding: 4rem 2rem 0 2rem;
  }
}
@media (max-width: 1024px) {
  body {
    padding: 0 1rem 0rem;
  }
  .site-header {
    padding-left: 20px;
    padding-right: 20px;
  }
  .container {
    height: auto;
  }
  .home-content-section {
    padding: 10rem 1rem 2rem;
    height: auto;
    margin-bottom: 0;
  }
  a.thumb {
    padding-bottom: 0;
    text-decoration: none;
    border-bottom: none;
  }
  .thumbnails {
    padding: 80px 0 0;
  }
  .thumbnail:nth-child(odd) {
    padding: 0 0.5rem 1rem 0;
  }
  .thumbnail:nth-child(even) {
    padding: 0 0 1rem 0.5rem;
  }
  .thumbnail img,
  .project,
  .info {
    padding: 0;
  }
  .thumbnail {
    margin-bottom: 0;
  }
  .thumbnail-title {
    opacity: 1;
  }
  .site-footer a {
    text-decoration: underline;
    text-underline-position: under;
  }
  .column:nth-child(1) {
    width: 25%;
  }
  .column:nth-child(2) {
    width: 60%;
  }
}
@media screen and (min-width: 768px) {
	.thumbnail {
	    /*thumbnail override*/
	    position: relative!important;
	    left: auto!important;
	    top: auto!important;
	    width: 50%!important;
	}
}
/*Cell Phones*/
@media (max-width: 767px) {
  html, .header a, .thumb a, .thumbnail-title, .footer-p, .footer-column, .column i  {
    font-size: 16px;
  }
  /*Header*/
  .site-header a {
    font-size: 20px;
  }
  .whitebar {
    padding-top: 10px;
  }
  .site-header {
    height: auto;
  }
  .homepage .site-header {
    position: absolute;
    left: 0;
    right: 0;
  }
  .site-header .logo {
    display: inline-block;
  }
  .site-header nav {
    float: right;
    text-align: center;
  }
  .site-header nav li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
  /*Home*/
  .thumbnail:nth-child(odd),
  .thumbnail:nth-child(even),
  .thumbnail img,
  .footer-p,
  .project {
    padding: 0;
  }
  .thumbnail {
    margin-bottom: 1rem;
  }
  /*Project*/
  .content-section h2{
    padding-top: 100px;
  }
  .content-section {
    padding-top: 25px;
  }
  .content-section {
    margin-bottom: 2rem;
  }
  /*Footer*/
  .info {
    margin: 0px;
    padding: 4rem 0 0;
  }
  .row {
    padding: 2rem 0;
  }
  .column:nth-child(1),
  .column:nth-child(2),
  .column:nth-child(3) {
    width: 100%;
  }
}
@media (max-width: 450px) {
  /*Home*/
  .clear {
    padding: 0 30px;
  }
  /*Footer*/
  .home {
    padding-top: 10px;
  }
  .site-footer a {
    font-size: 16px;
    line-height: 30px;
  }
  .c-style {
    font-size:30px;
  }
}
@media (max-width: 320px) {
  .site-header {
    padding-left: 15px;
    padding-right: 15px;
  }
  .site-header a {
    font-size: 18px;
  }
}
/* End Media Queries */
