/*General*/
.thumbnails, .clear, header {
  margin: auto;
}
.center {
  position: relative;
  text-align: center;
}
.loader {
  display: flex;
  /* justify-content: center; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;

  animation-name: loading;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.circle:first-child {
  background-color: #4a9885;
  animation-delay: 0s;
}
.circle:nth-child(2) {
  background-color: #4a9885;
  animation-delay: 0.2s;
}
.circle:nth-child(3) {
  background-color: #4a9885;
  animation-delay: 0.4s;
  margin-right: 0px;
}
@keyframes loading {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0px);
  }
}

/*End General*/

/* Header */
.whitebar {
	background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 78px;
}
.site-header {
  padding: 19px 1.75rem 26px 1.75rem;
}
.site-header,
.site-header a {
  color: black;
  letter-spacing: 1.0px;
  font-size: 18px;
}
.underline {
  position: relative;
  display: inline-block;
  font-size: 24px;
  text-align: center;
}
.underline,
.underline:hover,
.underline:focus,
.underline:active {
  color: #000;
  text-decoration: none;
}
.underline::after {
  content: "";
  position: absolute;
  background-color: #fff;
}
.underline::after {
  top: 80%;
  height: 1px;
  width: 0%;
  left: 0%;
  background-color: #000;
  transition: 0.5s ease all .3s;
}
.box:hover .underline::after {
  width: 100%;
  transition: 0.3s ease all;
}
.box:hover .logo::after {
  width: 100%;
  transition: 0.5s ease all !important;
}
.logo::after {
  transition: 0.5s ease all .5s !important;
}
.site-header .logo {
  display: inline-block;
}
.site-header nav {
  float: right;
}
.site-header nav ul {
  margin: 0;
}
.site-header nav li {
  display: inline-block;
  margin-left: 40px;
}
/*End Header*/

/*Body*/

/*General*/
.full-width-image,
.two-col-row {
    margin-top: 10%;
}
.full-width-image:first-of-type {
    margin-top: 0;
}
h3:last-of-type {
  margin-bottom: 150px;
}
letter {
  transition: color .3s linear, text-shadow .3s linear;
}
word::after{
  content: ' ';
}
.painted {
  color: #FFFFFF;
  font-family: linotype-sabon, sans-serif;
  line-height: 1;
}
a.joyful.painted {
  text-decoration-color: #00b7a0;
  text-decoration: underline;
}
.text-content{
  text-align: left;
  margin: 5em 0;
  font-size: 16px;
  width: 60%;
}
.text-content span i {
  font-size: 16px !important;
  vertical-align: text-bottom;
}
/*End General*/

/*Home page*/
.container {
  height: 100vh;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center;
  background-color: #4a9885;
}
.home-content-section {
  padding: 0 17%;
}
#thumbwrap {
  position:relative;
  margin:relative;
}
a.thumb {
  padding-bottom: 0.1em;
  text-decoration: underline;
  text-decoration-color: black;
}
a.joyful {
  /* font-family: linotype-sabon, sans-serif; */
  text-decoration: underline;
  line-height: 0;
}
.wrap {
  position: relative;
}
.wrap a span {
  position:absolute;
  display:none;
  z-index:99;
  left:50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.joyful:hover span {
	display:block;
}
.joyful img {
	border:0px solid #000;
	margin:0px;
  min-width: 469px;
}
.thumbnails {
  z-index: -1;
  background-color: white;
  padding: 6rem 1rem 0 1rem;
  margin: 0 auto;
}
.thumbnail {
  text-align: left;
  font-size: 16px;
  display: inline-block;
  position: relative;
  vertical-align: top;
}
.scroll-transition-fade {
  transition: transform 1s ease-in-out, opacity .8s ease-in-out;
}
.below-viewport {
    opacity: 0;
    transform: translateY(40px);
}
.thumbnail img {
  border: 0;
  display: block;
  margin: 0 auto;
  transition: .5s ease;
  cursor: none;
}
.thumbnail a {
  cursor: none;
}
.img_title {
  display: table;
  background: none;
  position: absolute;
  color: black;
  font-size: 18px;
  width: 175px;
  text-align: center;
  font-family: 'NeuzeitSLTStd-Book' , sans-serif;
}
.thumbnail-title {
  font-size: 17px;
  padding: 0.3rem 0 1rem 0;
  opacity: 0;
  -webkit-transition: opacity 150ms ease;
  -o-transition: opacity 150ms ease;
  transition: opacity 150ms ease;
}
.thumbnail-title i.material-icons {
  font-size: 17px !important;
  padding-top: .1rem;
  float: right;
}
.thumbnail-link:hover + .thumbnail-title {
  opacity: 1;
}
.blur {
  webkit-filter: blur(4px); /* Chrome, Safari, Opera */
  filter: blur(4px);
}
.thumbnail:nth-child(odd) {
  padding: 3rem 3.5rem 3rem 3rem;
}
.thumbnail:nth-child(even) {
  padding: 3rem 3rem 3rem 3.5rem;
}
.home {
  padding: 100px 3.5rem 8rem 1.75rem;
  line-height: 1.5;
  font-size: 22px;
  background-color: #4a9885;
}
.home-row:after {
  content: "";
  display: table;
  clear: both;
}
.home-column:nth-child(1) {
  float: left;
  width: 58%;
  padding: 0;
}
.home-column:nth-child(2) {
  float: left;
  width: 42%;
  padding: 0 0 0 9%;
}
.home-column .material-icons {
  font-size: 16px !important;
  vertical-align: text-bottom;
}
.home-column p {
  font-size: calc(10px + 12.361*(100vw - 576px)/864);
}
.home-column p .painted {
  font-size: calc(12.5px + 12.361*(100vw - 576px)/864);
}
.child {
  font-size: 16px !important;
}
.c-home {
  font-size:calc(60px + 12.361*(100vw - 576px)/864) !important;
  margin-bottom: 0;
}
.ls1 {
  letter-spacing: .01rem !important;
}
.ls2 {
  letter-spacing: 0rem !important;
}
.ls3 {
  margin: 0 3px 0 3px;
}
.typewriter p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  text-align: right;
  border-right: 3px solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .2rem;
  animation:
    typing 7s steps(7, end),
    blink-caret .75s step-end infinite;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}
.home #info {
  margin: 2rem 0 3rem 0;
}
/*End Home page*/

/*Project page*/
.project {
  min-height: 100%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: white;
  background-size: contain;
  margin: auto;
}
.content-section {
  margin-bottom: 3.75rem;
  padding-top: 100px;
}
.two-col-row:after {
  content: "";
  display: table;
  clear: both;
}
.two-col {
  float: left;
  width: 50%;
}
.leftImg {
  padding-right: 30px;
}
.rightImg {
  padding-left: 30px;
}
/*End Project page*/

/* Archive Page*/
.archive-row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0;
}
.archive-column {
  -ms-flex: 33.33%; /* IE10 */
  flex: 33.33%;
  max-width: 33.33%;
  padding: 1rem;
}
.block-img {
  margin-bottom: 2rem;
}
/* End Archive Page*/

/*End Body*/

/* Footer */
.site-footer {
  width: 100%;
  overflow-y:hidden;
  z-index: 10;
}
.site-footer a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  line-height: 2;
}
.site-footer a:hover {
  color: black;
  /* font-family: linotype-sabon, sans-serif; */
}
.info {
  padding: 2rem 2.5rem 1rem 2.5rem;
  width: 100%;
  color: black;
  background-color: #4a9885;
}
hr {
  border-bottom: 1px solid black;
  color: black;
}
.row {
  padding-top: 25px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
}
.column p {
  margin: 0;
}
.column:nth-child(1) {
  width: 90%;
}
.column:nth-child(2) {
  width: 10%;
}
.column i {
  font-size:16px;
  vertical-align:text-top;
}
.c-style {
  font-size:calc(60px + 15.361*(100vw - 576px)/864) !important;
  margin-bottom:0px;
  line-height: 1.5;
  padding: .5rem 0;
}
.footer-p {
  font-size: 22px;
}
.footer-column {
  font-size: 16px;
}
/*FOOTER LINKS*/
 .the-arrow {
	 width: 1px;
	 transition: all 0.2s;
 }
 .the-arrow.-left {
	 position: absolute;
	 top: 35%;
	 left: 0;
 }
 .the-arrow.-left > .shaft {
	 width: 0;
	 background-color: #000000;
 }
 .the-arrow.-left > .shaft:before, .the-arrow.-left > .shaft:after {
	 width: 0;
	 background-color: #000000;
 }
 .the-arrow.-left > .shaft:before {
	 transform: rotate(0);
 }
 .the-arrow.-left > .shaft:after {
	 transform: rotate(0);
 }
 .the-arrow.-right {
	 top: 3px;
 }
 .the-arrow.-right > .shaft {
	 width: 1px;
	 transition-delay: 0.2s;
 }
 .the-arrow.-right > .shaft:before, .the-arrow.-right > .shaft:after {
	 width: 8px;
	 transition-delay: 0.3s;
	 transition: all 0.5s;
 }
 .the-arrow.-right > .shaft:before {
	 transform: rotate(40deg);
 }
 .the-arrow.-right > .shaft:after {
	 transform: rotate(-40deg);
 }
 .the-arrow > .shaft {
	 background-color: #000000;
	 display: block;
	 height: 1px;
	 position: relative;
	 transition: all 0.2s;
	 transition-delay: 0;
	 will-change: transform;
 }
 .the-arrow > .shaft:before, .the-arrow > .shaft:after {
	 background-color: #000000;
	 content: '';
	 display: block;
	 height: 1px;
	 position: absolute;
	 top: 0;
	 right: 0;
	 transition: all 0.2s;
	 transition-delay: 0;
 }
 .the-arrow > .shaft:before {
	 transform-origin: top right;
 }
 .the-arrow > .shaft:after {
	 transform-origin: bottom right;
 }
 .animated-arrow {
	 display: inline-block;
	 color: #000000;
	 font-size: 1.25em;
	 text-decoration: none;
	 position: relative;
	 transition: all 0.2s;
   padding-bottom: 10px;
 }
 .animated-arrow:hover {
	 color: #000000;
 }
 .animated-arrow:hover > .the-arrow.-left > .shaft {
	 width: 64px;
	 transition-delay: 0.1s;
	 background-color: #000000;
 }
 .animated-arrow:hover > .the-arrow.-left > .shaft:before, .animated-arrow:hover > .the-arrow.-left > .shaft:after {
	 width: 8px;
	 transition-delay: 0.1s;
	 background-color: #000000;
 }
 .animated-arrow:hover > .the-arrow.-left > .shaft:before {
	 transform: rotate(40deg);
 }
 .animated-arrow:hover > .the-arrow.-left > .shaft:after {
	 transform: rotate(-40deg);
 }
 .animated-arrow:hover > .main {
	 transform: translateX(17px);
	 transform: translateX(80px);
 }
 .animated-arrow:hover > .main > .the-arrow.-right > .shaft {
	 width: 0;
	 transform: translateX(200%);
	 transition-delay: 0;
 }
 .animated-arrow:hover > .main > .the-arrow.-right > .shaft:before, .animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
	 width: 0;
	 transition-delay: 0;
	 transition: all 0.1s;
 }
 .animated-arrow:hover > .main > .the-arrow.-right > .shaft:before {
	 transform: rotate(0);
 }
 .animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
	 transform: rotate(0);
 }
 .animated-arrow > .main {
	 display: flex;
	 align-items: center;
	 transition: all 0.2s;
 }
 .animated-arrow > .main > .text {
	 margin: 0 16px 0 0;
	 line-height: 1;
 }
 .animated-arrow > .main > .the-arrow {
	 position: relative;
 }
/*END FOOTER LINKS*/
/*End Footer*/

/* Media Queries */
@media (min-width: 1500px) {
  .home-column .material-icons, .child {
    font-size: 25px !important;
  }
  /* h2 {
    font-size: 16px;
  }
  h2 .painted {
    font-size: 17px;
  } */
  .home-column p {
    font-size: 23.2051px;
  }

  .home-column p .painted {
    font-size: 24.2051px;;
  }
  .c-home {
    font-size: 75px !important;
    line-height: 1;
  }
  .home a {
    font-size: 22px;
  }
}
@media (max-width: 1024px) {
  .thumbnail {
      width: 50%!important;
  }
  .project {
    padding: 0 1rem 0rem;
  }
  /* .info {
    padding: 1rem 2rem 0px 2rem;

  } */
  .site-header {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 0;
  }
  h2 {
    line-height: 1.5rem;
  }
  a.thumb {
    padding-bottom: 0;
    text-decoration: none;
    border-bottom: none;
  }
  .thumbnails {
    padding: 100px 0 0;
  }
  .thumbnail:nth-child(odd) {
    padding: 0 2.5rem 4rem 2rem;
  }
  .thumbnail:nth-child(even) {
    padding: 0 2rem 4rem 2.5rem;
  }
  .thumbnail img {
    padding: 0;
  }
  .thumbnail {
    margin-bottom: 0;
  }
  .thumbnail-title {
    opacity: 1;
  }
  .home-column .material-icons {
    font-size: 16px !important;
  }
  .home-column p {
    font-size: 16px;
  }
  .home-column p .painted {
    font-size: 17px;
  }
  .site-footer a {
    text-underline-position: under;
  }
}
@media screen and (min-width: 1025px) {
	.thumbnail {
	    /*thumbnail override*/
	    position: relative!important;
	    left: auto!important;
	    top: auto!important;
	    width: 50%!important;
	}
}
/*Cell Phones*/
@media (max-width: 767px) {
  .wrap {
    position: inherit;
  }
  html, .header a, .thumb a, .thumbnail-title, .footer-p, .site-footer a, .footer-column, .column i, h3, .text-content  {
    font-size: 16px;
  }
  /*Header*/
  .site-header a {
    font-size: 18px;
  }
  .site-header {
    height: auto;
  }
  .container, .home {
    padding: 0 3rem;
  }
  .thumbnails {
    padding: 4rem 3rem 0 3rem;
  }
  .homepage .site-header {
    position: absolute;
    left: 0;
    right: 0;
  }
  .site-header .logo {
    display: inline-block;
  }
  .site-header nav {
    float: right;
    text-align: center;
  }
  .site-header nav li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
  /*Home*/
  .home-content-section {
    margin-bottom: 0;
    padding: 67px 0;
  }
  h2 {
    line-height: 2rem;
    letter-spacing: 0;
    font-size: 18px !important;
  }
  h2 .painted {
    font-size: 21px !important;
  }

  i.material-icons, .thumbnail-title i.material-icons {
    font-size: 16px !important;
  }
  .thumbnail {
      width: 100%!important;
  }
  .thumbnail:nth-child(odd),
  .thumbnail:nth-child(even) {
    padding: 4rem 3rem;
  }

  .thumbnail img,
  .footer-p {
    padding: 0;
  }
  .thumbnail {
    margin-bottom: 1rem;
  }
  /*Project*/
  .content-section h2{
    padding-top: 100px;
  }
  .content-section {
    padding-top: 90px;
  }
  .content-section {
    margin-bottom: 2rem;
  }
  .text-content{
    text-align: left;
    width: 100%;
  }
  .two-col {
    width: 100%;
  }
  .leftImg {
    padding-right: 0;
  }
  .rightImg {
    padding-left: 0;
    margin-top: 10%;
  }
  /*Footer*/
  .info {
    margin: 0px;
    padding: 4rem 2rem 0 2rem;
  }
  .home-column:nth-child(1) {
      width: 100%;
  }
  .home-column:nth-child(2) {
    width: 100%;
    padding: 0;
  }
  .row {
    padding: 2rem 0;
  }
  .column:nth-child(1),
  .column:nth-child(2),
  .column:nth-child(3),
  .child:nth-child(1),
  .child:nth-child(2),
  .child:nth-child(3)  {
    width: 100%;
  }
  .c-style, .c-home {
    padding-left: 0;
  }
  .home-column .material-icons {
    font-size: 16px !important;
  }
  .home-column p {
    font-size: 16px;
  }
  .home-column p .painted {
    font-size: 17px;
  }
  .archive-column {
    -ms-flex: 100%; /* IE10 */
    flex: 100%;
    max-width: 100%;
  }
}
@media (max-width: 450px) {
  /*Home*/
  h2 {
    font-size: 16px;
  }
  h2 .painted {
    font-size: 17px;
  }
  .clear {
    padding: 0 30px;
  }
  .thumbnail:nth-child(odd),
  .thumbnail:nth-child(even) {
    padding: 1rem 0 !important;
  }
  /*Nav*/
  .site-header .logo {
    font-size: 20px;
  }
  .site-header {
    text-align: center;
  }
  nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    text-align: justify !important;
  }
  nav ul {
    background-color: #4a9885;
    padding: .5rem 1rem 0 1rem;
  }
  nav ul li:nth-child(2) {
    float: right;
  }
  /*Footer*/
  .home {
    padding: 10px 3rem;
  }
  .site-footer a {
    font-size: 16px;
    line-height: 30px;
  }
  .c-style {
    font-size:30px;
  }
  .wrap {
    position: inherit;
  }
  .joyful img {
    min-width: auto;
    padding: 0 16px;
  }
  .wrap a span {
    position:absolute;
    display:none;
    left:0;
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
  }

  .info {
    padding: 4rem 2rem 2rem 2rem;
  }
}
@media (max-width: 320px) {
  .site-header .logo {
    font-size: 16px;
  }
  .site-header {
    padding-left: 30px;
    padding-right: 15px;
  }
  .site-header a {
    font-size: 18px;
  }

}
/* End Media Queries */
