<html>
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="container">
    <%- include('./partials/nav-home'); %>
    <div>
      <h1>Oh no!</h1>
      <h3>We can't seem to find the page you're looking for :(</h3>
      <br>
    </div>
  </body>
</html>
