<!DOCTYPE html(lang='en')>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="homepage" id="homepage">
    <div class="whitebar" style="background-color: #5E6E24;">
    <%- include('../partials/nav', { id: '404' }); %>
    </div>
    <div style="padding-top: 100px;width: fit-content;margin: auto;">
      <h3>Oh no!</h3>
      <h3>We can't seem to find the page you're looking for :(</h3>
      <br>
    </div>
  </body>
</html>
