footer.page-footer
  div.footer-container
      div.desc
        | Madeleine is an art director and designer based in Charleston, available for collaborations here, there, and everywhere.
      div.roles
        span.
          ART DIRECTION
        span.
          BRAND STRATEGY
        span.
          DESIGN
        | CONTENT CREATION
      div.box.contact
          a.underline(href='mailto:hello@madeleine.work ') hello@madeleine.work 

