footer.page-footer
  div.footer-container
    .row
     .column
      div.animate.scroll-transition-fade
        | Getting mail creates joyful moments in the everyday. For inquiries, collaborations, or to simply say hi contact me via email
     .column
      div.box
        img(src='/images/e-mail.png') 
        span 
          a.underline.scroll-transition-fade(href='mailto:hello@madeleine.work ') hello@madeleine.work 
     .column
      .link-row
        .link-col
          div.box
            a.underline.scroll-transition-fade(href='www.linkedin.com/in/madeleine-edwards1', target='_blank') Linkedin
        .link-col
          div.box
            a.underline.scroll-transition-fade(href='http://instagram.com/madeleine_toth', target='_blank') Instagram
        .link-col
          div.box
            a.underline.scroll-transition-fade(href='https://www.behance.net/madeleine-edwards', target='_blank') Behance
    .send-note
      | SEND A NOTE
