section.full-width-image.scroll-transition-fade.below-viewport
  img(src=slice.primary.image.url)
  
  //- section.full-width-image
  //-   div.center
  //-    div.loader
  //-     div.circle
  //-     div.circle
  //-     div.circle
  //-    img(src=slice.primary.image.url)
