div.whitebar(style="background-color:#C8B765")
 header.site-header
   // Centered link
   .topnav-centered
     span.box
      a.underline.logo(href='./')
        .logo.add-pt Madeleine Edwards
   nav(style='background-color: #C8B765;')
     // Left-aligned links (default)
     div.box(style="height: 0px;")
      a.underline.scroll-work(href='#') WORK
     // Right-aligned links
     .topnav-right
      div.box
        a.underline.scroll-info(href='#') INFO
