.footer-container a {
  color: black;
  letter-spacing: 0.03em;
  font-size: 12px;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 500;
}
.site-footer a:hover {
  color: black;
  /* font-family: linotype-sabon, sans-serif; */
}
.send-note {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: 1.75rem;
  color: #FFF;
  font-size: 10vw;
}
.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50%;
  font-size: 16px;
}
.row:after,
.link-row:after {
  content: "";
  display: table;
  clear: both;
}
.row {
  padding: 2rem;
}
.column {
  float: left;
  line-height: inherit !important;
}
.column a{
  line-height: inherit !important;
}
.column img {
  padding-right: 5px;
  max-width: 35px !important;
  vertical-align: middle;
}
.column:nth-child(1) {
  width: 35%;
  padding-right: 10vw;
}
.column:nth-child(2) {
  width: 55%;
}
.column:nth-child(3) {
  width: 10%;
}


/*Media Queries*/
@media only screen and (min-width: 1300px) {
  .send-note {
    font-size: 130px;
  }
}
@media only screen and (max-width: 1024px) {
  .column:nth-child(1) {
    padding-right: 5vw;
  }
  .page-footer {
    padding: 0 1rem;
    text-align: left;
    height: 50%;
  }
  .page, .project {
    margin-bottom: 50vh;
  }
}
@media only screen and (max-width: 767px) {
  .column:nth-child(1) {
    padding-right: 0;
  }
  .column:nth-child(1),
  .column:nth-child(2),
  .column:nth-child(3) {
    width: 100%;
    padding: 1rem 0;
  }
  .page-footer {
    padding: 0 1rem;
    text-align: left;
    height: 45%;
  }
  .project {
    margin-bottom: 55vh;
  }
  .footer-container {
    width: 450px;
  }
}

@media only screen and (max-width: 450px) {
  .footer-container {
    width: 350px;
  }
  .desc {
    font-size: 26px;
  }
  .roles{
    display: grid;
  }
  .roles span {
    border-right: none;
    margin-right: 0;
    padding-right: 0;
  }
  .contact a {
    text-decoration: underline !important
  }
  .page-footer {
    padding: 0 1rem;
    text-align: left;
    height: 50%;
  }
  .project {
    margin-bottom: 50vh;
  }
  .row {
    padding: 1rem;
  }
  .send-note {
    position: relative;
  }
}
@media only screen and (max-width: 320px) {
  .link-col {
    width: 100%;
  }
  .page-footer .row {
    margin-left: 0;
    padding: 0;
  }
  .send-note {
    margin-left: 0;
  }

}
/* End Media Queries */
